<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><button type="button"
					class="btn btn-primary" ng-click="btnInicio()">Inicio</button></li> 
			<li>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						Clientes <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a ng-click="btnBuscar()">Buscar</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="btnCrear()">Crear</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="btnEditar()">Editar</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="btnEliminar()">Eliminar</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						Ventas <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a ng-click="">Buscar</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="">Crear</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="">Editar</a></li> 
						<li role="separator" class="divider"></li> 
						<li><a ng-click="">Eliminar</a></li>
					</ul> 
				</div>  
			</li>
		</ul>
	</nav>
	<h3 class="text-muted">Xsoft - Proyecto Ingenieria web</h3>
</div>
<h1 class="text-center">:::Crear Venta:::</h1>

<div class="container">
	
	<form role="form" ng-submit="crearV()">
		<div class="form-group">
			<label for="identificacionCliente">Identificación de la Venta:</label> <input
				type="text" class="form-control" id="idVent"
				placeholder="Ingresa el numero de identificación de la Venta"
				required="required" ng-model="idVent">
		</div>
		<div class="form-group">
			<label for="nombres">Identificacion del Cliente:</label> <input type="text"
				class="form-control" id="idClient"
				placeholder="Ingresa la identificacion del cliente" required="required" ng-model="idClient">
		</div>
		<div class="form-group">
			<label for="apellidos">Identificacion del Usuario:</label> <input type="text"
				class="form-control" id="idUsu"
				placeholder="Ingresa la identificacion del Usuario" required="required" ng-model="idUsu">
		</div>
		
		<button type="submit" class="btn btn-primary">Guardar Venta</button>
	</form>
</div>