<meta charset="utf-8">
<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="active"><button type="submit" class="btn btn-primary" ng-click="cerrarSession()">Cerrar Sesión</button></li>
				<li role="presentation" class="active"><button type="button" class="btn btn-primary" ng-click="btnInicio()">Inicio</button></li>
				<li>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true">
							Clientes <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="btnBuscar()">Buscar</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="btnCrear()">Crear</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="btnEditar()">Editar</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="btnEliminar()">Eliminar</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true">
							Ventas <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="">Buscar</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="">Crear</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="">Editar</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="">Eliminar</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
		<h3 class="text-muted">Xsoft - Proyecto Ingenieria web</h3>

	</div>





	<div class="jumbotron">
		<h1>Powered by:</h1>
		<h3>Julian Esteba Montoya - 1152686066</h3>
		<h3>Joaquin David Hernandez</h3>
		<h3>Luis Angel Duque</h3>
		<h3>Luis Alejandro Zambrano</h3>
	</div>


	<footer class="footer">
		<p>&copy; Xsoft - 2015</p>
	</footer>

</div>
